<div class="m-5">
<div class="container ">
<div class="row">
  <div class="col-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Lo sentimos</h1>
        <p class="lead">En este momento no podemos encontrar este usuario... pero lo haremos. </p>
      </div>
    </div>
    <div>
      <blockquote><strong>Watson,</strong> déjeme pensar un momento solo con <strong>mi pipa</strong> y <strong>mi Stradivarius.</strong> </blockquote>
      <cite>Sherlock Holmes</cite>
    </div>
  </div>
  <div class="col-6">
    <div>
      <img src="../../../assets/imagenes/c0eba742115edfccb1d1544b7bc2403b.jpg" style="width: 100%;">
    </div>
  </div>
  
</div>
</div>
</div>
<app-footer></app-footer>
