<!--<div class="titulo">{{this.getTitulo()}}</div> -->

<div class="imagen-logo mt-3">
    <img src="../../../assets/imagenes/logo.png" alt="">
</div>

<div class="buscador mt-3">
    <form #miFormulario="ngForm" (ngSubmit)= "onSubmit(miFormulario)" >
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input id="search" aria-label="Username" name="texto" [(ngModel)]="texto" class="barra-busqueda" placeholder="@TwitterUser...">
        </div>
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>
</div>